<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Cosmic Craft</title>
    <link rel="shortcut icon" type="image/x-icon" href="/customer/imgs/images/custLogo.png">
    <!-- Template CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('/customer/imgs/images/logsdkf.png');
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
</style>
<body>
<div th:replace="fragments :: topbar"></div>

</body>
</html>