<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Forgot password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" th:href="@{/login/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css}">

    <!-- STYLE CSS -->
    <link rel="stylesheet" th:href="@{/login/css/style.css}">
    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body style="background-image: url(https://www.bhmpics.com/downloads/black-and-white-anime-hd-Wallpapers/17.tokyo-ghoul-re-haise-sasaki-ken-kaneki-black-white-wallpaper-1600x900-9801_47.jpg)">
<section class="pt-150 pb-150" >
    <div class="container" >
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                            <div class="padding_eight_all bg-white" style="margin-left: 300px;margin-top: 300px;width: 400px" >
                                <div class="heading_s1">
                                    <h3 class="mb-30">Forgot Password</h3>
                                </div>
                                <div th:if="${message != null}">
                                    <p style="color: #39cccc" th:text="${message}"></p>
                                </div>

                                <form method="POST" th:action="@{/forgot_password}" >

                                    <div>
                                        <p>
                                            We will be sending link to your email
                                        </p>
                                    </div>
                                    <div class="form-group">

                                       <p><input type="email"  name="email" placeholder="Enter Your Email" class="form-control" required></p>

                                        <p><button type="submit" style="background: #39cccc;margin-left: 100px;width: 150px" class="btn btn-fill-out btn-block hover-up">submit</button></p>
                                        <a th:href="@{/}" style="color: black;margin-left: 120px">Go to Home</a>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>