<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/images/custLogo.png}">
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <style>
        body {
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>

</head>
<body style="background-image: url(https://www.bhmpics.com/downloads/black-and-white-anime-hd-Wallpapers/15.8da7f0e07c3f3df458b9638a1e1cf6b9.jpg);">
<header th:replace="~{fragments::topbar}"></header>

<div th:replace="~{fragments::mobiletop}"></div>


<section class="pt-150 pb-150">
    <div class="container" style="margin-left: 500px">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5" style="background: white;">
                            <div class="padding_eight_all">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Reset Password</h3>
                                </div>
                                <form th:action="@{/reset_password}" method="post" style="max-width: 350px; ">
                                    <input type="hidden" name="token" th:value="${token}" />
                                    <div class="border border-secondary rounded p-3">
                                        <div>
                                            <p>
                                                <input type="password" name="password" id="password" class="form-control"
                                                       placeholder="Enter your new password" required autofocus />
                                            </p>
                                            <p>
                                                <input type="password" class="form-control" placeholder="Confirm your new password"
                                                       required oninput="checkPasswordMatch(this);" />
                                            </p>
                                            <p class="text-center">
                                                <input type="submit" value="Change Password" class="btn " style="background: #39cccc" />
                                            </p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<footer th:replace="~{fragments::downbar}">
</footer>
<script type="text/javascript">
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
<div th:replace = "~{fragments::script}"></div>
</body>
</html>