<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/imgs/theme/favicon.svg}">

    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <style>
        .red{
            background-image: url(https://i.dell.com/is/image/DellContent/content/dam/ss2/product-images/page/campaign/alienware/gaming/awr15-aw3423dw-aw510k-aw620m-aw720h-xml-enthusiast-front.jpg?fmt=jpg&wid=4000&hei=2249);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            height: 100%;
        }
    </style>
</head>
<body class="red">
<header th:replace="~{fragments::hometop}"></header>

<div th:replace="~{fragments::mobiletop}"></div>


<section class="pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 m-auto">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5" style="margin-left: 310px;width: 500px">
                            <div class="padding_eight_all bg-white">
                                <div class="heading_s1">
                                    <h3 class="mb-30">Reset Password</h3>
                                </div>
                                <form th:action="@{/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
                                    <input type="hidden" name="token" th:value="${token}" />
                                    <div class="border border-secondary rounded p-3">
                                        <div>
                                            <p>
                                                <input type="password" name="password" id="password" class="form-control"
                                                       placeholder="Enter your new password" required autofocus />
                                            </p>
                                            <p>
                                                <input type="password" class="form-control" placeholder="Confirm your new password"
                                                       required oninput="checkPasswordMatch(this);" />
                                            </p>

                                                <button type="submit">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






<footer th:replace="~{fragments::downbar}">

</footer>

<script type="text/javascript">
    function checkPasswordMatch(fieldConfirmPassword) {
        if (fieldConfirmPassword.value != $("#password").val()) {
            fieldConfirmPassword.setCustomValidity("Passwords do not match!");
        } else {
            fieldConfirmPassword.setCustomValidity("");
        }
    }
</script>
<div th:replace = "~{fragments::script}"></div>
</body>
</html>